body {
  font-family: 'Hanken Grotesk', sans-serif;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

button:hover {
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  transform: scale(1.05);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  border-radius: 50%;
  margin: 0 auto;
  padding: 1rem;
}

.tab {
  border-radius: 12px;
  padding: 1rem;
}

.red {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #ff5555;
}

.yellow {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #ffb21e;
}

.green {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #00bb8f;
}

.blue {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #1125d6;
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-self: flex-end;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
